.yewei{
width:100%;
height:70px;
text-align:center;
padding:25px 0;
background-color:#bbb;
}

.weizi{
display:inline;
margin-top:25px;
color:white;
font-size:18px;
}

.expand{
width:100%;
border:0;
padding:0;
height:200px;
background-color: #000;
margin:auto;
position:relative;
overflow:hidden;
}
.expand >img{
position: absolute;
display: block;
min-width: 100%;
min-height: 100%;
max-height:110%;
max-width:110%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.yetou{
left:0;
margin:0;
padding:0;
border:0;
width:100%;
}
.yetou > img{
height:auto;
width:100%;
}
.rongqi{
width:100%;
background:white;
}
.menu{
width:980px;
margin:auto;
}
.menu ul{
list-style-type:none;
float:left;
padding:0;
}
.menu ul li{
float:left;
text-decoration:none;
text-align:center;
width:220px;
height:250px;
display:block;
margin:15px;
}
.kapian{
width:160px;
height:180px;
margin:15px 5px 15px 5px;
}
.kapian:hover,.kapian:focus{
width:160px;
height:180px;
box-shadow:1px 1px 1.5px #aaaaaa;
}
.pic{
width:160px;
height:85px;
margin:0;
padding:0;
position:relative;
overflow:hidden;
float:left;
}
.pic img{
position: absolute;
display: block;
min-width: 100%;
min-height: 100%;
max-height:115%;
max-width:115%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.pic > img:hover,.pic > img:focus{
position: absolute;
display: block;
min-width: 110%;
min-height: 110%;
max-height:125%;
max-width:125%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.txt{
width:160px;
height:85px;
text-align:left;
background-color:white;
margin:0;
padding:0;
float:left;
}
.txt h3{
margin:7px 5px 3px 5px;
font-family:yahei;
font-size:14px;
color:black;
}
.txt h4{
margin:0 5px 0 5px;
font-size:11px;
color:rgba(0,180,60,.5);
}
.jianjie{
width:140px;
height:21px;
margin:4px 5px 0 5px;
font-size:10px;
color:rgb(153, 153, 153);
}
.pingfen{
margin:4px 0px 2px 5px;
font-size:12px;
color:rgb(153, 153, 153);
float:left;
}
.score{
margin:4px 0px 2px 5px;
font-size:12px;
color:#ff9326;
float:left;
}
.userdata{
margin:3px 5px 2px 0px;
font-size:12px;
color:rgb(153, 153, 153);
float:right;
}
.biaoti{
width:100%;
height:30px;
margin:20px auto 10px auto;
font-size:26px;
}
.dingkuan{
width:980px;
margin:auto;
}
.ADka{
width:150px;
height:110px;
margin:0 5px;
box-shadow:1px 1px 1.5px #aaaaaa;
}
.ADpic{
width:150px;
height:80px;
margin:0;
padding:0;
position:relative;
overflow:hidden;
float:left;
}
.ADpic img{
position: absolute;
display: block;
min-width: 100%;
min-height: 100%;
max-height:115%;
max-width:115%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.zitikuang{
width:150px;
height:30px;
float:left;
}
.kouhao{
	margin:2px;
font-family:yahei;
color:black;
font-size:10px;
text-align:center;
text-decoration:none;
}
.jutikouhao{
color:rgb(153, 153, 153);
font-size:8px;
text-align:center;
text-decoration:none;
}
.baikapian{
margin:auto;
border-radius:25px;
background-color:white;
padding:15px 20px;
}
.HOT{
width:320px;
height:600px;
}
.remen{
font-size:14px;
background-color:#cc1042;
color:white;
border-radius:5px;
padding:1px;
}
.hottopic{
width:190px;
height:80px;
float:left;
margin:6px;
text-align:left;
}
.hottopic > a{
color:#cc1042;
font-size:16px;
text-align:left;
}
.hottopic > a:hover{
text-decoration:none;
color:#cc1042;
}
.hotpic{
width:60px;
height:60px;
margin:6px;
padding:0;
position:relative;
overflow:hidden;
float:right;
border-radius:7px;
}
.hotpic img{
position: absolute;
display: block;
min-width: 100%;
min-height: 100%;
max-height:115%;
max-width:115%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.hotcontent{
font-size:13px;
color:rgb(153, 153, 153);
text-align:left;
margin:5px 2px;
float:left;
}
.tiaozhuan{
color:#cc1042;
float:right;
font-size:12px;
margin:10px 0px;
}
.wangqi{
text-align:left;
color:rgb(153, 153, 153);
font-size:14px;
border-top:1px solid rgb(153, 153, 153);
width:290px;
float:left;
margin:1px 0 0 0;
padding:10px;
}
.zuowenzi{
width:190px;
height:70px;
float:left;
margin:6px;
text-align:left;
}
.hottopic > a{
color:rgb(153, 153, 153);
font-size:16px;
text-align:left;
}
.hottopic > a:hover{
text-decoration:none;
color:rgb(153, 153, 153);
}
.changecolor{
background-color:#cc1042;
width:100%;
padding:20px;
}
.changehui{
background-color:#eee;
width:100%;
padding:20px;
}
.wenzhang{
width:320px;
height:290px;
margin:10px auto;
}
.shouji{
text-align:left;
color:#cc1042;
font-size:14px;
}
.wentopic{
width:190px;
height:60px;
color:black;
font-size:16px;
text-align:left;
float:left;
margin:10px 0px;
}
.question{
width:320px;
height:190px;
margin:7px auto;
}
.ques{
color:rgb(153, 153, 153);
font-size:16px;
text-align:left;
margin:5px 0;
}
.request{
color:rgb(153, 153, 153);
font-size:12px;
text-align:left;
margin:5px 0;
}