
.expand{
width:100%;
border:0;
padding:0;
height: 450px;
background-color: #000;
margin:auto;
position:relative;
overflow:hidden;
}
.expand >img{
position: absolute;
display: block;
min-width: 100%;
min-height: 100%;
max-height:110%;
max-width:110%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.yetou{
left:0;
margin:0;
padding:0;
border:0;
width:100%;
}
.yetou > img{
height:auto;
width:100%;
}
.rongqi{
width:100%;
background:white;
}
.menu{
width:980px;
margin:auto;
}
.menu ul{
list-style-type:none;
float:left;
padding:0;
}
.menu ul li{
float:left;
text-decoration:none;
text-align:center;
width:220px;
height:250px;
display:block;
margin:15px;
}
.kapian{
width:230px;
height:250px;
margin:30px 0 30px 0;
}
.kapian:hover,.kapian:focus{
width:230px;
height:250px;
box-shadow:2px 2px 3px #aaaaaa;
}
.pic{
width:230px;
height:125px;
margin:0;
padding:0;
position:relative;
overflow:hidden;
float:left;
}
.pic img{
position: absolute;
display: block;
min-width: 100%;
min-height: 100%;
max-height:115%;
max-width:115%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.pic > img:hover,.pic > img:focus{
position: absolute;
display: block;
min-width: 110%;
min-height: 110%;
max-height:125%;
max-width:125%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.txt{
width:230px;
height:125px;
text-align:left;
background-color:white;
margin:0;
padding:0;
float:left;
}
.txt h3{
margin:15px 10px 5px 10px;
font-family:yahei;
font-size:16px;
color:black;
}
.txt h4{
margin:0 10px 0 10px;
font-size:12px;
color:rgba(0,180,60,.5);
}
.jianjie{
width:200px;
height:30px;
margin:10px 10px 0 10px;
font-size:13px;
color:rgb(153, 153, 153);
}
.pingfen{
margin:10px 0px 5px 10px;
font-size:14px;
color:rgb(153, 153, 153);
float:left;
}
.score{
margin:10px 0px 5px 10px;
font-size:14px;
color:#ff9326;
float:left;
}
.userdata{
margin:10px 10px 5px 0px;
font-size:14px;
color:rgb(153, 153, 153);
float:right;
}
.biaoti{
width:100%;
height:30px;
margin:20px auto 10px auto;
font-size:26px;
}
.dingkuan{
width:980px;
margin:auto;
}
.ADka{
width:320px;
height:220px;
margin:20px;
box-shadow:2px 2px 3px #aaaaaa;
}
.ADpic{
width:320px;
height:160px;
margin:0;
padding:0;
position:relative;
overflow:hidden;
float:left;
}
.ADpic img{
position: absolute;
display: block;
min-width: 100%;
min-height: 100%;
max-height:115%;
max-width:115%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.zitikuang{
width:320px;
height:60px;
float:left;
}
.kouhao{
	margin:4px;
font-family:yahei;
color:black;
font-size:20px;
text-align:center;
text-decoration:none;
}
.jutikouhao{
color:rgb(153, 153, 153);
font-size:16px;
text-align:center;
text-decoration:none;
}
.baikapian{
border-radius:25px;
background-color:white;
padding:18px 25px;
}
.HOT{
width:370px;
height:600px;
}
.remen{
font-size:14px;
background-color:#cc1042;
color:white;
border-radius:5px;
padding:1px;
}
.hottopic{
width:100%;
height:80px;
float:left;
margin:6px;
text-align:left;
}
.hottopic > a{
color:#cc1042;
font-size:16px;
text-align:left;
}
.hottopic > a:hover{
text-decoration:none;
color:#cc1042;
}
.hotpic{
width:70px;
height:70px;
margin:6px;
padding:0;
position:relative;
overflow:hidden;
float:right;
border-radius:7px;
}
.hotpic img{
position: absolute;
display: block;
min-width: 100%;
min-height: 100%;
max-height:115%;
max-width:115%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.hotcontent{
font-size:13px;
color:rgb(153, 153, 153);
text-align:left;
margin:10px 2px;
float:left;
}
.tiaozhuan{
color:#cc1042;
float:right;
font-size:12px;
margin:10px 0px;
}
.wangqi{
text-align:left;
color:rgb(153, 153, 153);
font-size:14px;
border-top:1px solid rgb(153, 153, 153);
width:100%;
float:left;
margin:10px 0 0 0;
padding:10px;
}
.zuowenzi{
width:100%;
height:70px;
float:left;
margin:6px;
text-align:left;
}
.hottopic > a{
color:rgb(153, 153, 153);
font-size:16px;
text-align:left;
}
.hottopic > a:hover{
text-decoration:none;
color:rgb(153, 153, 153);
}
.changecolor{
background-color:#cc1042;
width:100%;
padding:30px;
}
.wenzhang{
max-width:100%;
width:370px;
height:auto;
min-height:250px;
margin:0px 0 10px 0;
display:inline-block;
}
.shouji{
text-align:left;
color:#cc1042;
font-size:14px;
}
.wentopic{
width:210px;
height:60px;
color:black;
font-size:16px;
text-align:left;
float:left;
margin:10px 0px;
}
.question{
width:370;
height:190px;
margin:7px;
}
.ques{
color:rgb(153, 153, 153);
font-size:16px;
text-align:left;
margin:5px 0;
}
.request{
color:rgb(153, 153, 153);
font-size:12px;
text-align:left;
margin:5px 0;
}