body{
background-color:#eeeeee !important;
}

.yewei{
width:100%;
height:70px;
text-align:center;
padding:25px 0;
background-color:#bbb;
}

.weizi{
display:inline;
margin-top:25px;
color:white;
font-size:18px;
}

.touxiang{
height:120px;
width:120px;
border-radius:50%;
border:3px solid #fff;
overflow:hidden;
position:absolute;
right:50%;
}

.touxiang img{
width:120px;
height:auto;
}

.chengse{
background-color:#fdc049;
}

.jskapian{
color:white;
text-align:center;
margin-top:-8px;
padding-bottom:80px;
}

.jskapian h1{
font-weight:10px;
font-size:22px;
margin:10px auto 10px auto ;
}

.jskapian h2{
font-size:14px;
margin:10px auto 10px auto ;
}

.jskapian p{
width:60%;
margin:140px auto 10px auto;
}

.guanzhu{
margin: 20px 0 36px 0;
padding: 0;
height: 36px;
width: 96px;
background: 0 0;
font-size: 12px;
line-height: 36px;
color: #fff;
border: 1px solid rgba(255,255,255,.6);
margin:20px auto;
border-radius: 18px;
}

.guanzhu:hover{
margin: 24px 0 36px;
padding: 0;
height: 36px;
width: 96px;
background: rgba(255,255,255,0.2);
font-size: 12px;
line-height: 36px;
color: #fff;
border: 1px solid rgba(255,255,255);
margin:20px auto;
border-radius: 18px;
}

.geshu{
font-size:14px;
width:60px;
text-align:center;
float:left;
}

.hang{
width:180px;
margin:auto;
}

.fans{
font-size:14px;
}

.tri{
width: 980px;
height: 70px;
overflow:hidden;
}

.triangle1 {
float:left;
margin-top:-65px;
width: 0px;
height: 0px;
border-top: 0px solid #eeeeee;
border-left: 0px solid transparent;
border-right: 49.7vw solid transparent;
border-bottom: 105px solid #eeeeee;
}

.triangle2 {
float:right;
margin-top:-65px;
width: 0px;
height: 0px;
border-top: 0px solid #eeeeee;
border-left: 49.7vw solid transparent;
border-right: 0px solid transparent;
border-bottom: 105px solid #eeeeee;
} 

.biaoti{
width:100%;
height:30px;
margin:50px auto 10px auto;
font-size:18px;
font-weight:bold;
text-align:center;
font-family:yahei;
}
.kapian{
width:160px;
height:180px;
margin:15px 5px 15px 5px;
}
.kapian:hover,.kapian:focus{
width:160px;
height:180px;
box-shadow:1px 1px 1.5px #aaaaaa;
}
.pic{
width:160px;
height:85px;
margin:0;
padding:0;
position:relative;
overflow:hidden;
float:left;
}
.pic img{
position: absolute;
display: block;
min-width: 100%;
min-height: 100%;
max-height:115%;
max-width:115%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.pic > img:hover,.pic > img:focus{
position: absolute;
display: block;
min-width: 110%;
min-height: 110%;
max-height:125%;
max-width:125%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.txt{
width:160px;
height:85px;
text-align:left;
background-color:white;
margin:0;
padding:0;
float:left;
}
.txt h3{
margin:7px 5px 3px 5px;
font-family:yahei;
font-size:14px;
color:black;
}
.txt h4{
margin:0 5px 0 5px;
font-size:11px;
color:rgba(0,180,60,.5);
}
.jianjie{
width:140px;
height:21px;
margin:4px 5px 0 5px;
font-size:10px;
color:rgb(153, 153, 153);
}
.pingfen{
margin:4px 0px 2px 5px;
font-size:12px;
color:rgb(153, 153, 153);
float:left;
}
.score{
margin:4px 0px 2px 5px;
font-size:12px;
color:#ff9326;
float:left;
}
.userdata{
margin:3px 5px 2px 0px;
font-size:12px;
color:rgb(153, 153, 153);
float:right;
}
.wenzhang{
width:320px;
height:290px;
margin:10px auto;
}
.shouji{
text-align:left;
color:#fdc049;
font-size:14px;
}
.wentopic{
width:190px;
height:60px;
color:black;
font-size:16px;
text-align:left;
float:left;
margin:10px 0px;
}
.baikapian{
margin:10px auto;
border-radius:25px;
background-color:white;
padding:15px 20px;
}
.hotpic{
width:60px;
height:60px;
margin:6px;
padding:0;
position:relative;
overflow:hidden;
float:right;
border-radius:7px;
}
.hotpic img{
position: absolute;
display: block;
min-width: 100%;
min-height: 100%;
max-height:115%;
max-width:115%;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}
.hotcontent{
font-size:13px;
color:rgb(153, 153, 153);
text-align:left;
margin:5px 2px;
float:left;
}
.tiaozhuan{
color:#fdc049;
float:right;
font-size:12px;
margin:10px 0px;
}
.zhengshu{
width:70px;
height:94px;
background-image:url(../image/certificate.png);
background-size:100% 100%;
}
.zhengshu img{
width:55px;
height:33px;
margin:37px 5px 6.5px 5px; 
}
.zstxt{
width:70px;
height:12px;
font-size:11px;
text-align:center;
}